body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: bisque;
}
header{
    background-color: burlywood;
    color: black;
    padding: 20px;
}
header h1{
    margin: 0;
}
h3{ 
    text-align: center;
    font-size: 40px;
    font-style: italic;
}
nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin-right: 10px;
}
a{
    text-decoration: none;
}
a:visited{
    color: chocolate;
}
aside ul{
    margin: 0;
    list-style-type: none;
}
form{
    width: 400px;
    margin: 0 auto;
    width: 40%;
    background-color: burlywood;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 3px solid chocolate;
}
input{
    border: 20px;
    background-color: aliceblue;
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}
input[type="submit"]{
    background-color: chocolate;
    color: black;
    display: block;
    margin: auto;
    width: 50%;
}
input[id="telefone"]{
   width: 30%;
}
input[id="e_mail"]{
    width: 70%;
}
input[id="nome"]{
    width: 70%;
}
input[id="data"]{
    width: 50%;
}
fieldset{
    border: 2px solid chocolate;
    padding: 2px;
}
label{
    width: 30px;
    padding: 4px;
}
#nome, #e_mail{
    border: 1px;
}
footer{
    background-color: bisque;
    text-align: center;
    padding: 10px;
}